body{
    background-color: #e8ebeb;
}
#header{
    text-align: center;
    font-family: Cooper;
    font-size: 40px;
    color: #15173D;
}
.details{
    display: -webkit-box;
    width: 100%;
}
.bockImage{
    height: 450px;
    object-fit: cover;
    border-radius: 6px;
    margin: 20px;
  
}

.bookDetails{
    margin-top: 40px;
    margin-left: 70px;

}

.bookDescription{
    font-size: 28px;
    font-weight: 500;
    width: 60%;
    color: #212450;

   

}
.bookTitle{
    font-size: 30px;
    font-family: Cooper;
    color:  #15173D;
    font-weight: bold;
    margin: 10px 0;
}
.infoLabel{
    font-size: 25px;
    color: #212450;
    font-weight: 600;
    margin:10px
  
}

.bookInfo{
    font-size: 25px;
    color: #212450;
    font-weight: 400;
    margin-top:15px
}

.actions{
    margin-top: 12px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.wariningMessage{
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    margin: 20px;
    color: rgb(133, 8, 8);
    font-family: 'Courier New', Courier, monospace;
}

.borrowBtn{
    width: 180px;
    background: #15173D;
    border: none;
    color: white;
    padding: 6px 14px;
    border-radius: 5px;
    cursor: pointer;
}

.borrowBtn:hover{
    background: rgb(52, 108, 154)
}

.returnBtn{
    background: #2e3169;
}
.returnBtn:hover{
    background: #6568a1;
}

.borrowed{
    background: rgb(55, 89, 55) !important;
}